
<% include header%>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            <!-- <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p> -->
            <div class="jumbotron">
              <h1>Random team</h1>
              <form action="/" method="POST">
                <div class="form-group">
                  <label for="teams">Number Team</label>
                  <select class="form-control" id="teams" name="teams">
                    <% for(var i=1; i<=team; i++) { %>
                    <option value='<%= i %>'><%= i %></option>
                    <% } %>
                  </select>
                </div>
                <div class="form-group">
                  <h1>List Member</h1>
                  <% Array.from(listMember).forEach(function(member) { %>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="listMember" id="listMember1" value="<%= member %>"> <%= member %>
                    </label>
                  </div>
                  <% }); %>
                </div>
                <!-- <div class="form-group">
                  <label for="listMember">List Member</label>
                  <textarea class="form-control" id="listMember" name="listMember" cols="30" rows="10"></textarea>
                </div> -->
                <button type="submit" name="submit" id="submit" class="btn btn-primary btn-xs">Send</button>
                <!-- <input type="submit" name="submit" id="submit" value="Random"> -->
              </form>
            </div>
        </div>

        <!-- <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <% include sidebar%>
        </div> -->
    </div>
    <% include footer%>
</div>